<a href="https://colab.research.google.com/github/maushamkumar/Python/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [2]:
# Write code here
ctc = float(input("Enter you salary: "))
if ctc < 500000:
  salary = ctc * .82
elif ctc < 100000:
  salary = ctc * .72
elif ctc < 2000000:
  salary = ctc * .62
else:
  salary = ctc * .52

print("you in hand monthly salary will be :-", round(salary/12, 2))

Enter you salary: 500000
you in hand monthly salary will be :- 25833.33

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [5]:
# Write code here
first_angle = int(input("Enter your first angle: "))
second_angle = int(input("Enter your second angle: "))
third_angle = int(input("Enter your Third angle: "))

if (first_angle + second_angle + third_angle) == 180 and first_angle > 0 and second_angle > 0 and third_angle > 0:
  print("Froms a triangle")
else:
  print("Does not form a triangle")

Enter your first angle: 20
Enter your second angle: 60
Enter your Third angle: 100
Froms a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [6]:
# Write code here
cost_price = float(input("Enter your cost price: "))
selling_price = float(input("Enter your selling price: "))

if cost_price < selling_price:
  print("Profit")
elif cost_price > selling_price:
  print("Loss")
else:
  print("No loss No gain")

Enter your cost price: 20
Enter your selling price30
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
menu = input("""
  Hi, select your option
  1 Convert cm to fit
  2 Convert km to miles
  3 Convert USD to INR
  4 Exit
""")

if menu == '1':
  height_in_cm = float(input("Enter you height: "))
  print('fit value is:', height_in_cm*0.032)
elif menu == '2':
  distance_in_km = float(input("Enter you distance in km: "))
  print('miles vlaues is:', distance_in_km*0.62)
elif menu == '3':
  usd = float(input("Enter usd"))
  print('INR', usd*80.)

else:
  exit()

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [7]:
# Write code here
num1, num2 = 0, 1
for i in range(0, 10):
  print(num1)

  next = num1 + num2
  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [8]:
# Write code here
num = int(input('Enter your number: '))

fact = 1
for i in range(1, num+1):
  fact = fact * i
print(fact)

Enter your number: 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [14]:
# Write code here
x = 76542
y = str(x)
print(y)
m = y[::-1]
print(int(m))

number = int(input("Enter your number: "))
rev = 0

while number > 0:
  last = number%10
  rev = rev * 10 + last
  number = number//10

print(rev)

76542
24567
Enter your number: 3456
6543

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [31]:
# Write code here
number = int(input("Enter your number: "))
sum = 0
i = 1
while i < number + 1:
  if i % 5 == 0:
    i = i + 1
    continue
  sum += i

  if sum > 300:
    sum = sum - i
    break

  i += 1

print(sum)

Enter your number: 30
300

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [33]:
# Write code here
sum = 0
count = 0
while True:
  number = int(input("Enter your number"))
  if number == 0:
    break
  sum += number
  count = count + 1


print('sum', sum )
print('Average', sum/count)

Enter your number6
Enter your number9
Enter your number9
Enter your number0
sum 24
Average 8.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
# Write code here
for num in range(2000, 3201):
  if num % 7 == 0 and num % 5 != 0:
    print(num, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [12]:
# Write code here
l = []
for i in range(1000, 3001):
  flag = True

  curr = i
  while curr > 0:
    last = curr % 10
    if last % 2 != 0 :
      flag = False
      break

    curr = curr //10

  if flag:
    l.append(str(i))

print(",".join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [18]:
# Write code here
up = int(input("Enter your up value: "))
down = int(input("Enter your dowm value: "))
left = int(input("Enter your left value: "))
right = int(input("Enter right up value: "))

if up > down:
    x_axis = up - down
else:
    x_axis = down - up

if left > right:
  y_axis = left - right
else:
  y_axis = right - left

distance_from_origin = (x_axis**2 + y_axis**2)**0.5
print(distance_from_origin)

Enter your up value: 4
Enter your dowm value: 5
Enter your left value: 4
Enter right up value: 3
1.4142135623730951

In [14]:
import math

# Input values
up = int(input("Enter your up value: "))
down = int(input("Enter your down value: "))
left = int(input("Enter your left value: "))
right = int(input("Enter your right value: "))

# Calculate x-axis distance
if up > down:
    x_axis = up - down
else:
    x_axis = down - up

# Calculate y-axis distance
if left > right:
    y_axis = left - right
else:
    y_axis = right - left

# Calculate the distance from origin
distance_from_origin = math.sqrt(x_axis**2 + y_axis**2)

print(f"Distance from origin: {distance_from_origin}")

Enter your up value: 4
Enter your down value: 5
Enter your left value: 4
Enter your right value: 3
Distance from origin: 1.4142135623730951

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [8]:
# Write code here
num = int(input("Enter what number do you want to check: "))

if num <= 1:
  print("Not a prime number")

for i in range(1, num//2):
  if num%i == 0:
    print(" a prime number:")
  else:
    print("Not a prime number")

Enter what number do you want to check: 5
 a prime number:

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [51]:
# Write code here
number = int(input("Enter your number: "))
num = number
l = []

for i in range(number + 1):
  flag = True
  curr = i

  sum = 0
  while curr > 0:
    last = curr%10
    sum = sum + last**3
    curr = curr//10

    if num == sum:
        flag = True
    else:
      flag = False
      continue

  if flag:
    l.append(str(i))

print(",".join(l))

Enter your number: 153
0,135,153

In [57]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

print(f"Armstrong numbers between {start} and {end} are:")

current_number = start

while current_number <= end:
    num_str = str(current_number)
    num_digits = len(num_str)

    sum_of_powers = 0
    for digit in num_str:
        sum_of_powers += int(digit) ** num_digits

    if sum_of_powers == current_number:
        print(current_number)

    current_number += 1

Enter the starting number: 0
Enter the ending number: 153
Armstrong numbers between 0 and 153 are:
0
1
2
3
4
5
6
7
8
9
153

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [18]:
# Write code here
minute = int(input("Enter Minute value: "))
hours = int(input("Enter Hour value: "))

minute_anlge = minute * 6
Hour_angle = round(30 * hours + minute * 0.5)
angle_difference = (Hour_angle - minute_anlge )

final_angle = min(angle_difference, 360 - angle_difference)
print(final_angle)

Enter Minute value: 7
Enter Hour value: 5
112
154

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [59]:
# Write code here
l1 = (input("Enter your L1 (x and y coordinate should be in form of comma separated value): "))
l2 = (input("Enter your L2 (x and y coordinate should be in form of comma separated value): "))
r1 = (input("Enter your R1 (x and y coordinate should be in form of comma separated value): "))
r2 = (input("Enter your R2 (x and y coordinate should be in form of comma separated value): "))

if r1[1] < l2[1] or l1[1] > r2[1]:
  print("overlapping")
else:
  print("Mast h koi dikkat nahi ")

Enter your L1 (x and y coordinate should be in form of comma separated value): 0, 10
Enter your L2 (x and y coordinate should be in form of comma separated value): 10, 0
Enter your R1 (x and y coordinate should be in form of comma separated value): 5, 5
Enter your R2 (x and y coordinate should be in form of comma separated value): 15, 0
overlapping