<a href="https://colab.research.google.com/github/maushamkumar/Python/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [7]:
l = [1,2,3,3,3,3,4,5]

lst = []

for i in l:
  if i not in lst:
    lst.append(i)

print(lst)

def unique(l):

  lst = []

  for i in l:
    if i not in lst:
      lst.append(i)
  return lst

print(unique(l))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [25]:
# Write code here
text = "green-red-yellow-black-white"

word = (text.split('-'))
a = sorted(word)
a = '-'.join(a)
a

def sort_word(text):

  word = text.split('-')
  a = sorted(word)
  a = '-'.join(a)
  return a

print(sort_word(text))

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [26]:
# Write code here
text = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'

upper = 0
lower = 0

for i in text:
  if i.isupper():
    upper += 1
  elif i.islower():
    lower += 1

print(f'No. of Upper case characters : {upper}')
print(f'No. of Lower case Characters : {lower}')

def uppercase_and_lowercase(text):
  upper = 0
  lower = 0

  for i in text:
    if i.isupper():
      upper += 1
    elif i.islower():
      lower += 1

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [27]:
# Write code here
def even(l):
  even = []
  for i in l:
    if i % 2 == 0:
      even.append(i)
  return even


even([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [29]:
# Write code here
num = int(input('Enter a number: '))

sum = 0

for i in range(1,num):
  if num % i == 0:
    sum += i
if sum == num:
  print(f'{num} is a perfect number')
else:
  print(f'{num} is not a perfect number')


def perfect_number(num):
  sum = 0

  for i in range(1,num):
    if num % i == 0:
      sum += i
  if sum == num:
    print(f'{num} is a perfect number')
  else:
    print(f'{num} is not a perfect number')


perfect_number(num)

Enter a number: 28
28 is a perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [31]:
# Write code here
def dict(*args):
  d = {}
  for i in args:
    d.update(i)
  return d

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dict(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [35]:
# Write code here
text = input('Enter a text: ')

word = {}

for i in text.split():
  if i in word:
    word[i] += 1
  else:
    word[i] = 1

print(max(word), word[max(word)])

def most_occurence(text):
  word = {}

  for i in text.split():
    if i in word:
      word[i] += 1
    else:
      word[i] = 1
  print(max(word), word[max(word)])

Enter a text: hello how are you i am fine thank you
you 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [42]:
# Write code here
import math

# num = int(input("Enter multiple number: "))
num = [13,42,15,37,22,39,41,50]

dict = {}
min_bin = math.floor(num[0]//10)*10
max_bin= math.ceil(num[-1]//10)*10


for i in range(min_bin,max_bin,10):

  count = 0
  for j in num:
    if i <= j < i + 10:
      count += 1

  dict[str(i + 1) + '-' + str(i + 10)] = count

print(dict)

def histogram(num):
  dict = {}
  min_bin = math.floor(num[0]//10)*10
  max_bin= math.ceil(num[-1]//10)*10


  for i in range(min_bin,max_bin,10):

    count = 0
    for j in num:
      if i <= j < i + 10:
        count += 1
    dict[str(i + 1) + '-' + str(i + 10)] = count
  return dict

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 2}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

def closest(point, origin):

  temp = []

  for i in point:
    distance = ((i[0] - origin[0])**2 + (i[1] - origin[1])**2)**0.5
    temp.append(distance)

  return sorted(list(enumerate(temp)), key= lambda s:s[1])[0][0]

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [4]:
# Write code here

def bow(l):
  word = set()
  for i in l:
    word.update(i.split(' '))

  result = []
  for i in l:
    result.append([])
    for j in word:
      result[-1].append(i.count(j))
  return result



l = ['cat mat rat sat',
     'bat sat fat rat run',
     'get run mat hat rat']

bow(l)

[[1, 0, 0, 0, 0, 1, 1, 0, 1],
 [0, 0, 1, 1, 1, 0, 1, 0, 1],
 [1, 1, 0, 0, 1, 0, 1, 1, 0]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [5]:
# Write code here
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]
l3 = [9, 10, 11, 12]

list(map(lambda x,y,z:x+y+z,l1,l2,l3))

[15, 18, 21, 24]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [6]:
# Write code here
list1 = [1,2,3,4,5,6]

list(map(lambda x,y:x**y, list1, range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [9]:
# Write code here
text = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'

list(filter(lambda x:True if x.lower() in 'aeiou' else False,text))

['a',
 'u',
 'i',
 'a',
 'O',
 'i',
 'e',
 'e',
 'o',
 'i',
 'o',
 'a',
 'O',
 'E',
 'i',
 'E',
 'e',
 'i',
 'u',
 'e']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [10]:
# Write code here
int_lst = [[1,2,3],[4,5,6],[7,8,9]]

from functools import reduce
reduce(lambda x,y:x+y,int_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [12]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [13]:
list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False, employees))

[{'fname': 'Neha', 'lname': 'Singh', 'age': 35, 'grade': 'highly-skilled'},
 {'fname': 'Abhinav', 'lname': 'Sharma', 'age': 37, 'grade': 'highly-skilled'}]

In [18]:
list(map(lambda x:x['fname'] + ' ' + x['lname'] + ', Age =>' + str(x['age']),list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh, Age =>35', 'Abhinav Sharma, Age =>37']